.chat {
  display: flex
  flex-direction: column
  align-items: center
  width: 100%
  height: 100%
}

.chat-header {
  padding: 5px
}

.chat-log {
  width: 50%
  min-height: 300px
  max-height: calc(100% - 86px - 29px - 100px)
  border: 1px solid black
}

.chat form {
  width: 50%
  display: flex
  flex-direction: column
  align-items: center
}

.chat input {
  width: 100%
  height: 30px
  margin: 10px 0
}

.chat textarea {
  width: 100%
  height: 30px
}
